@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #353637;
}
body{
  background-color: #bdd19e;
}
.pic{
  height: auto;
  width:  302px;
}
.fa:hover {
  transform: rotate(360deg);
  transition: 1s;
  color: white;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: #4070f4;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
body{
  color: #fefefe;
}
.container{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
 
  padding-left: 8%;
  padding-right: 8%;}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1d206;
  padding :2px 2px 2px 2px;
}
.logo a{
  font-size: 40px;
  text-decoration: none;
  cursor: default;
}
span{
    color: rgb(255, 0, 0);
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
  color: black;
}
nav ul li a:hover{
  color: rgb(230, 9, 6);
  background-color: rgb(245, 245, 245);
  padding: 8px 15px;
  border-radius: 5px;
        transition: all 0.3s ease;
}
.login{
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.btn{
  background: #000;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
  color: white;
}
a{
    color: aqua;
  }
.loo{
  
  margin-top: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#profile-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.card-item {
  width: 300px;
  padding: 15px;
  margin: 1.5rem;
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  box-shadow: 5px 5px 20px rgba(30, 29, 29, 0.5);
}

.image {
  position: relative;
  width: 100px;
  bottom: 1.5rem;
  cursor: pointer;
  background-size: cover;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  transition: all 0.2s linear;
  margin-top: 15px;
}

.image:hover img {
  transform: translateY(-5px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.description ul {
  display: flex;
  list-style: none;
}

.description h2 {
  font-size: 24px;
  color: #000;
}

.role {
  color: #e65b00;
  font-size: 12px;
}

.description ul li {
  font-size: 1.2rem;
  padding: 10px 17px 5px 0;
}

.description ul li a {
  text-decoration: none;
  color: purple;
}

footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #0ac1da;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  
}
.footer-links{
  text-align: left;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  text-align: left;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
.innerdiv{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bi{
  color: aqua;
}
 .by{
  color: rgb(255, 0, 0);;
 }