@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
body{
  color: #fefefe;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: url(./flag/pexels-pixabay-36717.jpg);
  background-position: center;
  background-size: cover;

}
nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1d206;
  padding :2px 2px 2px 2px;
}
.logo a{
  font-size: 40px;
  text-decoration: none;
  cursor: default;
}
span{
 color: rgb(255, 0, 0);
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a{
  text-decoration: none;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}
nav ul li a:hover{
  color: rgb(230, 9, 6);
  background-color: rgb(245, 245, 245);
  padding: 8px 15px;
  border-radius: 5px;
        transition: all 0.3s ease;
}
.login{
  text-decoration: none;
  margin-right: 15px;
  font-size: 18px;
}
.btn1{
  background: #000;
  border-radius: 6px;
  padding: 9px 25px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 18px;
  color: #fff;
}

.content{
  margin-top: 40px;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 70px;

}
.content h2{
  font-size: 60px
}
.content p{
  margin-top: 41px;
  line-height: 25px;
}
a{
  color: aqua;
}
.link {
  margin-top: 10px;
  margin-left: 560px;
  margin-bottom: 30px;

}
.hire{
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 9px 25px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
}
.link .hire:hover{
  background: transparent;
  border: 1px solid #9a0909;
  color: #fff;
}

h2,p{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  color: rgb(254, 139, 8);
}
p{
  color: #ff0000;
}

*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);

  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; 
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; 
    }
  }
}

.card__image--flowers {
  background-image: url(./flag/pexels-aboodi-vesakaran-13884397.jpg);

}


.card__image--river {
  background-image: url(./flag/pexels-atypeek-dgn-5781917.jpg);
}


.card__image--record {
  background-image: url(./flag/pexels-rodrigo-santos-2209444.jpg);
}

.card__image--fence {
  background-image: url(./flag/pexels-studio-art-smile-3476860.jpg);
}
.card__image--fg {
  background-image: url(./flag/pexels-cristian-manieri-11848948.jpg);
}
.card__image--fg2 {
  background-image: url(./flag/pexels-sawyer-sutton-973049.jpg);

}
.card__image--flowers {
  background-image: url(./flag/pexels-aboodi-vesakaran-13884397.jpg);

}
.card__title {
  color: green;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

body {
	margin: 0;
	padding: 0;
}
.main {
	max-height: 550px;;

	color: white;
	text-align: center;
	line-height: 50px;
}
footer{
	position: relative;
	bottom: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #0ac1da;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
  
}
.footer-links{
  text-align: left;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
  text-align: left;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
.fa:hover {
  transform: rotate(360deg);
  transition: 1s;
  color: white;
}
.bi{
  color: aqua;
}
 .by{
  color: rgb(255, 0, 0);;
 }